
      <header>
            
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark scrolling-navbar">
                <a class="navbar-brand" href="/"><strong>Kemsty-Shop</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>                        
                    </ul>
                    {{# if login}}
                    <ul class="navbar-nav nav-flex-icons">                        
                        <li class="nav-item">
                            <a class="nav-link" href="/shopping-cart/"><i class="fa fa-shopping-cart"></i>Panier
                            <span class="badge badge-pill aqua-gradient">{{session.cart.totalQty}}</span>
                            </a>
                        </li>  
                        <li class="nav-item">
                            <a class="nav-link" href="/user/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Deconnexion</a>
                        </li>
                    </ul>
                    {{ else}}
                    <ul class="navbar-nav nav-flex-icons">                        
                        <li class="nav-item">
                            <a class="nav-link" href="/user/signin"><i class="fa fa-signin"></i>Connexion</a>
                        </li>  
                        <li class="nav-item">
                            <a class="nav-link" href="/user/signup"><i class="fa fa-signup" aria-hidden="true"></i>Inscription</a>
                        </li>
                    </ul>
                    {{/if}}
                </div>
            </nav>
          
        </header>