<!DOCTYPE html>
<html>
  <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta name="author" content="Kemsty" />
        <meta name="description" content="Travaux Pratiques Node Js Api de paiement en ligne" />
        
        <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
        <link rel="stylesheet" href="/stylesheets/font-awesome.css" />
        <link rel="stylesheet" href="/stylesheets/mdb.css" />        
        <link rel="stylesheet" href="/stylesheets/compiled.min.css" /> 
        <link rel="stylesheet" href="/stylesheets/style.css" /> 
        <link rel="stylesheet" href="/stylesheets/perso.css" /> 
        <title>Tp Node Js</title>
  </head>
  <body>
      {{> header }}
      <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
      <main class="container-fluid">{{{body}}}</main>
      <footer class="page-footer bg-dark center-on-small-only pt-2">        
            <div class="container">
                <div class="row">                    
                    <div class="col-md-12">
                        <div class="footer-socials mb-5 flex-center">
                            <a class="icons-sm fb-ic"><i class="fa fa-facebook fa-lg white-text mr-md-4"> </i></a>                            
                            <a class="icons-sm tw-ic"><i class="fa fa-twitter fa-lg white-text mr-md-4"> </i></a>                            
                            <a class="icons-sm gplus-ic"><i class="fa fa-google-plus fa-lg white-text mr-md-4"> </i></a>                            
                            <a class="icons-sm li-ic"><i class="fa fa-linkedin fa-lg white-text mr-md-4"> </i></a>                            
                            <a class="icons-sm ins-ic"><i class="fa fa-instagram fa-lg white-text mr-md-4"> </i></a>                            
                            <a class="icons-sm pin-ic"><i class="fa fa-pinterest fa-lg white-text"> </i></a>
                        </div>
                    </div>                    
                </div>                
            </div>            
            <div class="footer-copyright">
                <div class="container-fluid">
                    © 2017 Copyright: <a href="https://www.MDBootstrap.com"> Kemsty-Shop </a>
                </div>
            </div>            
        </footer>
        
        <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
        <script type="text/javascript" src="/javascripts/compiled.min.js"></script>        
        <script type="text/javascript" src="/javascripts/mdb.min.js"></script>
        <script type="text/javascript" src="/javascripts/popper.min.js"></script>
        
         
  </body>
</html>
